################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppBackend/FileContentIndex/d1ac1576-233e-4d26-a579-86c5ddc7b287.vsidx
